utility/src/main/webapp/wsdl/hotelutility.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="HotelUtilityService" targetNamespace="http://utility.hotel.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://utility.hotel.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
  <import namespace="http://utility.hotel.com/" schemaLocation="hotelutility_schema1.xsd"/>
</schema>
  </wsdl:types>
  <wsdl:message name="registerUser">
    <wsdl:part name="parameters" element="tns:registerUser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="registerUserResponse">
    <wsdl:part name="parameters" element="tns:registerUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="bookRoom">
    <wsdl:part name="parameters" element="tns:bookRoom">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="bookingsByEmailResponse">
    <wsdl:part name="parameters" element="tns:bookingsByEmailResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="bookingsByEmail">
    <wsdl:part name="parameters" element="tns:bookingsByEmail">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loginUser">
    <wsdl:part name="parameters" element="tns:loginUser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRoomFloorAndCapacity">
    <wsdl:part name="parameters" element="tns:getRoomFloorAndCapacity">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listRoomsResponse">
    <wsdl:part name="parameters" element="tns:listRoomsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelReservation">
    <wsdl:part name="parameters" element="tns:cancelReservation">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listRooms">
    <wsdl:part name="parameters" element="tns:listRooms">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelReservationResponse">
    <wsdl:part name="parameters" element="tns:cancelReservationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="bookRoomResponse">
    <wsdl:part name="parameters" element="tns:bookRoomResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRoomFloorAndCapacityResponse">
    <wsdl:part name="parameters" element="tns:getRoomFloorAndCapacityResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loginUserResponse">
    <wsdl:part name="parameters" element="tns:loginUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="HotelUtility">
    <wsdl:operation name="listRooms">
      <wsdl:input name="listRooms" message="tns:listRooms">
    </wsdl:input>
      <wsdl:output name="listRoomsResponse" message="tns:listRoomsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerUser">
      <wsdl:input name="registerUser" message="tns:registerUser">
    </wsdl:input>
      <wsdl:output name="registerUserResponse" message="tns:registerUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bookRoom">
      <wsdl:input name="bookRoom" message="tns:bookRoom">
    </wsdl:input>
      <wsdl:output name="bookRoomResponse" message="tns:bookRoomResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bookingsByEmail">
      <wsdl:input name="bookingsByEmail" message="tns:bookingsByEmail">
    </wsdl:input>
      <wsdl:output name="bookingsByEmailResponse" message="tns:bookingsByEmailResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loginUser">
      <wsdl:input name="loginUser" message="tns:loginUser">
    </wsdl:input>
      <wsdl:output name="loginUserResponse" message="tns:loginUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRoomFloorAndCapacity">
      <wsdl:input name="getRoomFloorAndCapacity" message="tns:getRoomFloorAndCapacity">
    </wsdl:input>
      <wsdl:output name="getRoomFloorAndCapacityResponse" message="tns:getRoomFloorAndCapacityResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelReservation">
      <wsdl:input name="cancelReservation" message="tns:cancelReservation">
    </wsdl:input>
      <wsdl:output name="cancelReservationResponse" message="tns:cancelReservationResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HotelUtilityServiceSoapBinding" type="tns:HotelUtility">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="listRooms">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="listRooms">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listRoomsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="registerUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="registerUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bookRoom">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="bookRoom">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="bookRoomResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bookingsByEmail">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="bookingsByEmail">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="bookingsByEmailResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loginUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="loginUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="loginUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRoomFloorAndCapacity">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getRoomFloorAndCapacity">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getRoomFloorAndCapacityResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelReservation">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="cancelReservation">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cancelReservationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HotelUtilityService">
    <wsdl:port name="HotelUtilityPort" binding="tns:HotelUtilityServiceSoapBinding">
      <soap:address location="http://localhost:8080/HotelUtility/services"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
